<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal</title>
</head>
<body>
    <h1>Normal life</h1>
<p>In real life you were absent for <%= normal.years()%> years, <%= normal.months()%> months, <%= normal.days()%> days.</p>
<a href="http://127.0.0.1:3000/">Back to the main page</a>
<style>
    a{
        color: black;
    }
    a:hover{
        color: red;
    }
</style>
</body>
</html>