<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum time</title>
</head>
<body>
    <h1>Quantum time</h1>
<p>In quantum space you were absent for <%=quantum[0]%> years, <%=quantum[1]%> months, <%=quantum[2]%> days.</p>
<a href="http://127.0.0.1:3000/">Back to the main page</a>
<style>
    a{
        color: black;
    }
    a:hover{
        color: red;
    }
</style>
</body>
</html>